*{
    width: 100%;
    margin: 0%;
    overflow-x: hidden;
    padding: 0%;
}
.header{
    padding:  0 5%;
    color: white;
    background-color: hsl(0, 0%, 0%);  
    overflow-x: hidden;

}
nav{
    left:0;
    right: 0;
    top: 0;
    height: 100px;

}
nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    font-size: 24px;
    display: flex;
    color: #fff;
    align-items: center;
    
    
}
nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    display: none;

}
nav .links li{
    list-style: none;
    color: white;
    padding: 1em;
    text-decoration: none;
}
nav .links li a{
    color: white;
}
.headli ul {
    list-style-type: none;
    text-decoration: none;

}
.define{
    display: flex;
}
.about{
    width: 200px;
    border:2px;
}


.showi img{
    height: 200px;
    width: 100px;
    padding: 0 5%;
} 
.ab{
    position: relative;
    background-color: yellow;
    height: 190px;
    width: 100%;
    padding-left:0 5%;
}
.sample{
    position: relative;
    width:100%;
    height: 300px;
}
.ylo{
    height: 100px;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 50px;
    background-color:rgb(255, 196, 0);
}
.crimg img{
    height: 100px;
    width: 120px;
    position: absolute;
    background-color: green;
    top: 70px;
    left:80%;
    z-index: 1;


}
.aboutm{
    position: relative;
    padding: 0 5%;
    justify-content: center;
    text-align: center
}
.aboutb{
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to left,black,brown);
    padding: 0 5%;
    position: relative;
}
.aboutbtn{
    position: absolute;
    top:22px;
}
.grow{
    position: absolute;
    bottom: 20px;
    left:65%;
}
.whatwedo{
    margin-top: 100px;
    height: 200px;
    position: relative;
    width:100%;
    background-image: linear-gradient(to left,black,brown);
}
.wwd{
    padding: 0 5%;
    position: absolute;
}
.wwd2{
    color: white;
    width: 300px;
    position: absolute;
    top: 20px;
    left: 65%;
    font-size: 18px;
}
.ul{
    text-align: center;
    margin: auto;
    top: 0;
    left: 0;
    
}
.ull{
    background-image: linear-gradient(to left,black,brown);
    display: flex;
}
.maked{
    padding: 0 5%;
    margin-top:100px;
    background-color: black;
    height: 200px;
    position: relative;
   
}
.location{
    margin-top: 100px;
    display: flex;
    padding: 0 5%;
}
.vl {
    border-left: 6px solid black;
    height:auto;
  }
.footer{
    background-color: black;
    height: 100px;
    width: 100%;
    margin-top: 100px;
    color: white;
    text-align: center;
    margin: auto;

}